.text {
  word-break: break-word;

  &_size {
    &_h1 {
      font-size: 32px;
      font-weight: 700;
    }

    &_h2 {
      font-size: 24px;
      font-weight: 700;
    }

    &_p {
      font-size: 16px;
    }
  }

  &_visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .text {
    &_size {
      &_h1 {
        font-size: 42px;
      }

      &_h2 {
        font-size: 34px;
      }

      &_h3 {
        font-size: 24px;
      }
    }
  }
}
