.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.prevIcon {
  transform: rotate(-90deg);
  margin-right: 6px;
}

.nextIcon {
  transform: rotate(90deg);
  margin-left: 6px;
}

.paginationButton {
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border-color 0.2s;

  &:first-of-type {
    margin-right: 40px;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: #8a4dee;
  }

  &:active {
    transform: none;
    border-color: #7443c4;
  }
}

@keyframes animatePrevButton {
  to {
    opacity: 1;
    left: -24px;
  }
}

@keyframes animateNextButton {
  to {
    opacity: 1;
    right: calc(-24px);
  }
}
