.wrapper {
  display: flex;
  justify-content: center;
}

.paginationButton {
  width: auto;
  min-width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--primary-bg-button);

  & + & {
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    border-color: var(--primary-hover-bg-button);
  }

  &:disabled {
    opacity: 1;
  }
}

.paginationControl {
  border-radius: 100%;

  &:disabled {
    opacity: 0.5;
  }
}

.active {
  background-color: var(--primary-bg-button);
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0 14px;
}

.icon {
  width: 16px;
  height: 16px;

  &.left {
    transform: rotate(-90deg);
  }

  &.right {
    transform: rotate(90deg);
  }
}
