.addRepoBlock {
  margin-top: var(--size-m);
}

.button {
  width: 100%;
  min-height: 36px;
  max-width: 100px;
  margin-left: auto;
  font-size: 14px;
  text-transform: uppercase;
}

.repo {
  margin-top: var(--size-s);
  display: grid;
  grid-template-columns: 250px repeat(3, 1fr);
  padding-bottom: 6px;
  border-bottom: 1px solid #c4c4c4;

  & + & {
    margin-top: var(--size-m);
  }
}

.repoCell {
  align-self: center;
}

@media (min-width: 768px) {
  .addRepoBlock {
    margin-top: var(--size-xl);
  }
}
