.repo {
  padding: 0 20px;
}

.wrapper {
  max-width: 768px;
  margin: 70px auto 0 auto;
  padding: 25px 15px;
  background-color: var(--dark-theme-third-bg);
  border-radius: 6px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.title {
  text-transform: capitalize;
}

.description {
  margin-top: 8px;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.texts {
  flex-grow: 1;
  max-width: 80%;
}

.info {
  margin-top: 4px;
  font-size: 14px;
  color: #dadada;
}

.statsList {
  margin-top: 3px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-gap: var(--m-size);
  margin-top: 35px;
}

.issuesBlock {
  margin-top: var(--l-size);
}

.issuesList {
  margin-top: 4px;
}

.issueLink {
  display: flex;
}

.issue {
  &:not(:last-of-type) {
    & .issueLink {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #c4c4c4;
      transition: all var(--primary-transition-time);

      &:hover,
      &:focus {
        border-bottom: 1px solid var(--dark-theme-primary-accent-bg);
      }
    }
  }
}

.issueDescription {
  margin-left: 10px;
}

.issueIcon {
  flex-shrink: 0;
  margin-top: 3px;
}

@keyframes animationAppearance {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loadingIssue {
  animation: animationAppearance 4.5s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;

  &:nth-of-type(2) {
    animation-delay: 0.5s;
  }

  &:nth-of-type(3) {
    animation-delay: 1s;
  }

  &:nth-of-type(4) {
    animation-delay: 1.5s;
  }

  &:nth-of-type(5) {
    animation-delay: 2s;
  }

  &:nth-of-type(6) {
    animation-delay: 2.5s;
  }

  &:nth-of-type(7) {
    animation-delay: 3s;
  }

  &:nth-of-type(8) {
    animation-delay: 3.5s;
  }

  &:nth-of-type(9) {
    animation-delay: 4s;
  }

  &:nth-of-type(10) {
    animation-delay: 4.5s;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    margin: 70px auto 0 auto;
    padding: 25px;
  }

  .progLangIcon {
    width: 34px;
    height: 34px;
  }
}
