.wrapper {
  max-width: 768px;
  padding: var(--size-m);
  background-color: var(--dark-theme-thirdly-bg);
  border-radius: var(--primary-border-radius);
}

@media (min-width: 768px) {
  .wrapper {
    padding: var(--size-l);
  }
}
