*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background-color: var(--dark-theme-primary-bg);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--dark-theme-primary-typo);
  -webkit-font-smoothing: antialiased;
}

button {
  padding: 0;
  background-color: transparent;
  border: unset;
  font-size: initial;
  font-family: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
