:root {
  /* main theme colors */
  --dark-theme-primary-bg: #232323;
  --dark-theme-secondary-bg: #303030;
  --dark-theme-third-bg: #424242;

  /* main theme accent colors */
  --dark-theme-primary-accent-bg: #8a4dee;

  /* main theme typography colors */
  --dark-theme-primary-typo: rgba(255, 255, 255, 0.95);

  /* Border radius */
  --primary-border-radius: 6px;
}

/* Fonts */
@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  src: url(~static/fonts/CirceRegular.woff) format('woff');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  src: url(~static/fonts/CirceBold.woff) format('woff');
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--dark-theme-primary-bg);
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--dark-theme-primary-typo);
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: unset;
  font-size: initial;
  font-family: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
