:root {
  /* fonts */
  --primary-font: 'Circe', 'Arial', sans-serif;

  /* main theme colors */
  --dark-theme-primary-bg: #232323;
  --dark-theme-secondary-bg: #303030;
  --dark-theme-thirdly-bg: #424242;
  --dark-theme-third-bg: hsl(0, 0%, 26%);

  /** preloader */
  --dark-them-preloader-bg: rgba(255, 255, 255, 0.95);

  /* main theme accent colors */
  --dark-theme-primary-accent-bg: #8a4dee;

  /* buttons */
  --primary-bg-button: #8a4dee;
  --primary-border-radius-button: 6px;
  --primary-typo-button: rgba(255, 255, 255, 0.87);
  --primary-hover-bg-button: #7443c4;

  /* main theme typography colors */
  --dark-theme-primary-typo: rgba(255, 255, 255, 0.95);

  /* border radius */
  --primary-border-radius: 6px;

  /* select */
  --primary-border-select: none;
  --primary-typo-select-placeholder: rgba(255, 255, 255, 0.6);
  --primary-typo-select: rgba(255, 255, 255, 0.87);
  --primary-bg-select: #121212;
  --secondary-bg-select: #222222;
  --primary-border-radius-select: 6px;
}
