.introduction {
  background-image: url(~assets/svgs/introduction-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;
}

.text {
  margin-right: 30px;
}

.title {
  max-width: 720px;
}

.subtitle {
  max-width: 720px;
}
