.footer {
  margin-top: 120px;
  background-color: var(--dark-theme-secondary-bg);
}

.wrapper {
  padding: 13px 30px;
  text-align: center;
}

.copyrightText {
  font-size: 14px;
  text-align: center;
}
