.container {
  position: fixed;
  top: 25px;
  right: 10px;
}

/* stylelint-disable */
.fade {
  &:global(-enter-active),
  &:global(-leave-active),
  &:global(-move) {
    transition: all 0.6s;
  }

  &:global(-enter),
  &:global(-leave-to) {
    opacity: 0;
  }
}
/* stylelint-enable */
